@model DisponibilidadeProfessor
@{
    ViewData["Title"] = "Editar Disponibilidade do Professor";
    var diasDaSemana = new string[] { "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado", "Domingo" };
    var horarios = new string[] { "07:30 - 08:20", "08:20 - 09:10", "09:10 - 10:00", "10:20 - 11:10", "11:10 - 12:00" };
}

<form asp-controller="Disponibilidade" asp-action="EditarDispProfessor" method="post">
    <h4>Disponibilidade</h4>
    <input type="hidden" asp-for="ProfessorId" /> <!-- Adicione o ProfessorId aqui -->
    <input type="hidden" asp-for="DisponibilidadeProfessorDias" /> <!-- Adicione a disponibilidade aqui -->

    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                @foreach (var dia in diasDaSemana)
                {
                    <th>@dia</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var horario in horarios)
            {
                <tr>
                    <td>@horario</td>
                    @for (var i = 0; i < diasDaSemana.Length; i++)
                    {
                        <td>
                            <button class="btn btn-success btn-availability w-100"
                                    onclick="toggleAvailability(this)"
                                    data-dia="@i"
                                    data-horario="@horario">
                                Disponível
                            </button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
