@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-12">
            <h2 class="text-primary text-center">Tabela de Horários</h2>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Dia</th>
                <th scope="col">Horário</th>
                <th scope="col">1ºA INF</th>
                <th scope="col">1ºB INF</th>
                <th scope="col">2ºA INF</th>
                <th scope="col">2ºB INF</th>
                <th scope="col">3ºA INF</th>
                <th scope="col">3ºB INF</th>
            </tr>
        </thead>
        <tbody>
            <!-- Segunda-feira -->
            <tr>
                <td rowspan="5">Segunda</td>
                <td>07:30 - 08:20</td>
                <td>Matemática - José</td>
                <td>Português - Maria</td>
                <td>Geografia - João</td>
                <td>Física - Ana</td>
                <td>Química - Carlos</td>
                <td>Biologia - Pedro</td>
            </tr>
            <tr>
                <td>08:20 - 09:10</td>
                <td>Português - Maria</td>
                <td>Geografia - João</td>
                <td>Física - Ana</td>
                <td>Química - Carlos</td>
                <td>Biologia - Pedro</td>
                <td>Biologia - Pedro</td>
            </tr>
            <tr>
                <td>09:10 - 10:00</td>
                <td>Português - Maria</td>
                <td>Geografia - João</td>
                <td>Física - Ana</td>
                <td>Química - Carlos</td>
                <td>Biologia - Pedro</td>
                <td>Biologia - Pedro</td>
            </tr>
            <tr>
                <td>10:20 - 11:10</td>
                <td>Português - Maria</td>
                <td>Geografia - João</td>
                <td>Física - Ana</td>
                <td>Química - Carlos</td>
                <td>Biologia - Pedro</td>
                <td>Biologia - Pedro</td>
            </tr>
            <tr>
                <td>11:10 - 12:00</td>
                <td>Português - Maria</td>
                <td>Geografia - João</td>
                <td>Física - Ana</td>
                <td>Química - Carlos</td>
                <td>Biologia - Pedro</td>
                <td>Biologia - Pedro</td>
            </tr>
            @*,,,13:00 - 13:50, - ,, - ,, - ,, - ,, - ,, -
            ,,,13:50 - 14:40, - ,, - ,, - ,, - ,, - ,, -
            ,,,14:40 - 15:30, - ,, - ,, - ,, - ,, - ,, -
            ,,,15:50 - 16:40, - ,, - ,, - ,, - ,, - ,, -
            ,,,16:40 - 17:30, - ,, - ,, - ,, - ,, - ,, -*@
            <!-- Terça-feira -->
            <tr>
                <td rowspan="2">Terça</td>
                <td>07:30 - 08:20</td>
                <td>Geografia - João</td>
                <td>Física - Ana</td>
                <td>Química - Carlos</td>
                <td>Biologia - Pedro</td>
                <td>Matemática - José</td>
                <td>Português - Maria</td>
            </tr>
            <tr>
                <td>08:20 - 09:10</td>
                <td>Física - Ana</td>
                <td>Química - Carlos</td>
                <td>Biologia - Pedro</td>
                <td>Matemática - José</td>
                <td>Português - Maria</td>
                <td>Português - Maria</td>
            </tr>

            <!-- Continue com o resto dos dias... -->

        </tbody>
    </table>
</div>



