@model Disciplina
@{
    ViewData["Title"] = "Apagar Disciplina";
}

<div class="text-center">
    <h3>Realmente deseja apagar a Disciplina: @Model.Nome?</h3>
</div>

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <a class="btn btn-primary w-100" role="button" asp-controller="Disciplina" asp-action="Index"><i class="bi bi-skip-backward"></i> Cancelar Exclusão</a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
        <a class="btn btn-danger w-100" role="button" asp-route-id="@Model.Id" asp-controller="Disciplina" asp-action="ApagarDisciplina"><i class="bi bi-x-square"></i> Confirmar Exclusão</a>
    </div>
</div>